.nav-div {
	text-align: center;
	
}

.nav-bar {
	background-color: indigo;
	padding: 10px 10px;
	margin: 0px 10%;
	overflow: hidden;
	list-style-type: none;
	display: block;
	border-top: 2px solid white;
}
.nav-list-item {
	display: block;
}

.nav-link {
	text-decoration: none;
	color: white;
	padding: 5px 5px;
	size: auto auto;
	display: block;
	float: left;
	transition: 0.3s;
}
.nav-link:hover {
	background-color: blueviolet;
}
.nav-link-current {
	background-color: blueviolet;
	text-decoration: none;
	color: white;
	padding: 5px 3px;
	display: block;
	float: left;
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
